.custom-login-btn {
    background-color: #3b8cdd !important; /* Màu xanh */
    border-radius: 5px;
    padding: 10px 15px;
}

.bg-custom-green {
    background-color: #3b8cdd !important; /* Màu xanh */
}

.bg-custom-blue {
    background-color: #007bff !important; /* Màu xanh */
}
